
body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #404040;
    width: 90%;
    min-width: 300px;
    margin: 0 5% 0 5%;
    font-size: 17px;
    background: url(../img/body.gif);
}

/* Text */
h1 {
    margin: 0;
    padding: 0;
    font-family: 'Birch Std';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: #404040;
    font-size: 105px;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: 'Birch Std';
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: 'BirchStd';
    font-size: 30px;
    font-weight: normal;
    line-height: normal;
    font-style: normal;
    text-transform: uppercase;

}

h4 {
    margin: 0;
    padding: 0;
    font-family: 'BirchStd';
    font-size: 24px;
    font-weight: normal;
    line-height: normal;
    font-style: normal;
    text-transform: uppercase;
    color:#eeeeee;
}

h5 {

}

h6 {
    margin: 0;
    padding: 0;
    font-family: 'BirchStd';
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    font-style: normal;
    color: #fff;
}

div {
    box-sizing: border-box;
}

header {
    position: relative;
    width: 100%;
    border: 10px solid red; /* !!!DELETE in the finish */
}

.container {
    width: 100%;
    margin: 0 auto;
}

ul{ width: 100%;

}

li {
    display: inline;
    position: relative;
}

.form {
    margin: 0;
    list-style: none;
    padding: 35px 0 35px 20px;
}

#top-search {  
    position: relative;
    max-width: 230px;
    width: auto;
    height: 37px;
}

.search {
    position: relative;
    width: 185px;
    height: 36px;
    padding: 0 35px 0 10px;
    border: none;
    border-radius: 10px;
}

.search_link {
    margin: 0;
    padding: 10px 5px;
    right: 0;
    top: 0;
    position: absolute;
}

.submit_image {
    border-radius: 10px;
    position: absolute;
    width: 33px;
    margin: -17px;
}

.icon-bar {
    position: absolute;
    /* помогло */
    top: 30px;
    right: 30px;
  }

  .icon-bar a {
    padding: 5px;
    font-size: 16px;
    width: 1px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    transition: all 0.3s ease;
    color: #fff;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3b5999;
  }
  
  .twitter {
    background: #55ACEE;
  }
  .rss {
    background: #ef9200;
  }
  .email{
    background: #b0b0b0;
  }

/* .logo_container{
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-radius: 20%;
    width: 1%;
} */
/* .logo { */
    /* display: inline;
    padding: 0;
    margin: 0;
    /* top: 15px; */
    /* padding-left: 40%;
    
    max-width: 190px; 
    /* !!!check work */
    /* width: 100%;
    max-height: 190px;
    height: auto;
    
    display: block;
    position: absolute;
    z-index:120;
    margin-left: auto;
    margin-right: auto;  
 }
  */
.nav{
    text-align: center;
}
/* menu */
.navTop {
    background: url(../img/nav_bg.png) no-repeat; 
    /* !!!not all width */
    height: 64px;
    width: 100%;
    /* clear: both; */
    /* background-color: cyan; */
}

.menu {
    /* width: 100%; */
    margin: 0;
    /* padding-left: 41px; */

    /* display: inline;
     */

    list-style: none;
    display: flex;
    /* align-items: center; */
    /* при удалении строчким меню поднимаются вверх */
    
    /* justify-content: center; */
    /* margin-top: 50px; */
    padding: 0;
}

.menu_item {
    float: left;
    /* display: inline; */
    padding: 0 35px 0 40px;
    /* не работает вставка шариков между ссылками меню*/
    /* align-items: center;
    justify-content: center; */
    display: flex;
  margin: 0px 15px;
}
.menu_item a {
    text-decoration: none;
    color: #404040;
    font-size: 28px;
    font-family: 'Birch Std';
}
.menu_item .active {
    text-decoration: none;
    color: #5363db;
    
}
.menu_item_center {
    display: block;
}
.logo {
    padding: 0 150px;
    margin: 0;
    text-align: center;
    /* position: absolute; */
}
#logo_link {
    display: inline-block;
  }
  
  .logo_img {
    display: block;
  }

/* .menu a {
   
}

.menu:last-child {
    float: right;
} */

#title{
    width: 100%;  
}

.titles {
    /* margin-top: 60px; */
    padding: 60px 0 80px 0;
    position:relative;
    text-align: center;
    color: #888888;
    font-size: 20px;
    font-style: italic;
    border-bottom: 2px solid #aeaeae;
    padding-bottom: 40px;
    /* !!! */
}
.titles p {
    margin-top: 5px;
}
.button {
    background: #af2330;
    color: #fff;
    /*font-weight: normal;*/
    text-decoration: none;
    border-radius: 9px;
    width: 268px;
    height: 60px;
    line-height: 40px;
    font-stretch: ultra-expanded;
    padding: 0;
    text-align: center;
}
#our { 
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid #aeaeae;
    margin-bottom: 35px;
}
.services {
    margin-top: 50px;
}
.services_item {
    width: 25%;
    float: left;
    text-align: center;
    margin: 10px 0 40px 0;
    padding: 0 25px 0 25px;
    border-right: 2px solid #aeaeae;
}

.services_item img {
    max-width: 96px;
    width: 100%;
    max-height: 96px;    
    height: auto;
}

.services_item p {
    font-size: 15px;
    font-style: italic;
}

.services_item h3 {
    margin-bottom: 15px;
}

.services_item a {
    background-color: #404040;
}

.services_item:first-child{
    border-left: transparent;
}

.services_item:last-child {
    float: right;
    border-right: transparent;
}

#content { 
    padding: 35px 0 30px 0;
    width: 100%;
    background: #f6f6f6;
    border-radius: 15px; 
    display: inline-block;
}

.content_item {
    width: 33.33%;
    float: left;
    text-align: left;
    padding: 0 25px 0 25px;
}
.content_item p{
    color: #757474
}
.welcome{
    font-weight: 500;
    color: #404040;
}
.blog_red{
    color: #af2330;
}


.content_item a{
    background-color: #cdcdcd;
    color: #404040;
}

.arrow_box {
	position: relative;
	background: #eeeeee;
    border: 1px solid #b3b3b3;
    border-top: transparent;
    border-radius: 10px;
    font-style: italic;
    padding: 20px 10px 20px 30px;

}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(238, 238, 238, 0);
	border-top-color: #eee;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}
.arrow_box:before {
	border-color: rgba(179, 179, 179, 0);
	border-top-color: #b3b3b3;
	border-width: 27px;
	left: 50%;
	margin-left: -28px;
}
.our_clients{
    float: right;
}
#name_clients{
    position: relative; 
    /* не отыгрывает роли чисто для наполнения */
}
#name_clients li{
    display: block;
    font-size: 14px;
    color: #404040;
}
#name_clients li:last-child{
    font-size: 12px;
    color: #696868;
}

#blog {
    float: left;
    text-align: left;
}
#blog p{
    padding: 0;
    margin: 0;
}

/* .line{
    float: left;
} */
.blog_line{
float: left;
}
.blog_line li{
    font-style: normal;
    font-size: 14px;
    /* при уменьшении на необходимыей 12 px плывет */
    width: 100%;
    display: inline;
    list-style:none;
    background: url(../img/date.png) no-repeat;
    padding-left:  20px;
}
.blog_line li:nth-child(2){
    background: url(../img/auth.png) no-repeat;
}
.blog_line li:nth-child(3){
    background: url(../img/comments.png) no-repeat;
}

#maps {
    width: 100%;
    margin-top: 35px;
    display: inline-block;
    background: #404040;
    border-radius: 15px;     
}

.map_item {
    width: 25%;
    float: left;
    text-align: left;
    padding: 35px 20px 20px 15px;
    padding-right: 20px;
}
.map_item:last-child{
    float: right;
    padding-right: 20px;
}
.map_item ul { 
    padding-left: 0px;
}

.map_item ul li {
    display: block;
    list-style:none;
    background: url(../img/list-line.png) no-repeat;
    padding-left: 20px; 
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 2px solid #636363;
    
}
.map_item:first-child ul li{
    background: url(../img/list-line1.png) no-repeat;
}

.map_item ul li:last-child{
    border-bottom: transparent;
}

.map_item a {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}


footer{
    margin-top: 35px;
    border-top: 2px solid #aeaeae ;
    width: 100%;
}
.down_menu{
    width: 100%;    
    text-align: center;
}

.down_menu ul li{
    display: inline;
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
}

.down_menu a {
    color: #505050;
    text-decoration: none;
    font-size: 12px;
}

.footer_copyright {
    padding-top: 1px;
    padding-bottom: 20px;
    position: relative;
    min-width: 100%;
    text-align: center;
    font-size: 12px;
    color: #696868;
}


#top_button {
    /* не получается задать кнопке появления после скроллинга, а не сразу*/
    display: inline-block;
    background-color: #b0b0b0;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    margin: 7px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;
}
  #top_button:hover {
    cursor: pointer;
    background-color: #27aac6;
}
  #top_button:active {
    background-color: #555;
}
  #top_button::after {
  content: "\f106";
  font-family:"Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-size: 2em;
  line-height: 30px;
  color: #fff;
}
/* The dot/bullet/indicator container */
.slideshow-container{
    margin-top: 50px;
    margin-left: 45%;
}
.dot-container {
    width: 10%;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #c0c0c0; 
    position:absolute;
    height:40px;   
}
  
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #f6f6f6;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  /* Add a background color to the active dot/circle */
.active, .dot:hover {
    background-color: #717171;
  }



