
body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #404040;
    width: 90%;
    min-width: 300px;
    margin: 0 5% 0 5%;
    font-size: 17px;
    background: url(../img/body.gif);
}

/* Text */
h1 {
    margin: 0;
    padding: 0;
    font-family: 'Birch Std';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: #404040;
    font-size: 105px;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: 'Birch Std';
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: 'BirchStd';
    font-size: 30px;
    font-weight: normal;
    line-height: normal;
    font-style: normal;
    text-transform: uppercase;

}

h4 {
    margin: 0;
    padding: 0;
    font-family: 'BirchStd';
    font-size: 24px;
    font-weight: normal;
    line-height: normal;
    font-style: normal;
    text-transform: uppercase;
    color:#eeeeee;
}

h5 {

}

h6 {
    margin: 0;
    padding: 0;
    font-family: 'BirchStd';
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    font-style: normal;
    color: #fff;
}

div {
    box-sizing: border-box;
}

header {
    position: relative;
    width: 100%;
    border: 10px solid red; /* !!!DELETE in the finish */
}

.container {
    width: 100%;
    margin: 0 auto;
}
.navBar {
    text-align: center;
}
ul{

}

li {
    display: inline;
    position: relative;
}

.form {
    margin: 0;
    list-style: none;
    padding: 35px 0 35px 20px;
}

#top-search {  
    /* !!!! dont work */
    position: relative;
    width: 25%;
    height: 37px;
}

.search {
    position: relative;
    width: 185px;
    height: 36px;
    padding: 0 35px 0 10px;
    border: none;
    border-radius: 10px;
}

.search_link {
    margin: 0;
    padding: 10px 5px;
    right: 0;
    top: 0;
    position: absolute;
}

.submit_image {
    border-radius: 10px;
    position: absolute;
    width: 33px;
    margin: -17px;

}
.join {
    padding: 0;
    margin:0;
    width: 25%;
    background-color: green;
    float: right;
    margin: 35px 0 35px 20px;
}

.logo_container{
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-radius: 20%;
    width: 1%;
}
.logo {
    /* display: inline;
    padding: 0;
    margin: 0;
    /* top: 15px; */
    padding-left: 40%;
    height: 190px;
    width: 190px;
    display: block;
    position: absolute;
    z-index:120;
    margin-left: auto;
    margin-right: auto;    
}

/* down menu */
.primary {
    background: url(../img/nav_bg.png) no-repeat; 
    /* !!!not all width */
    height: 64px;
    width: 100%;
    padding-left: 41px;
    clear: both;
}

.menu {
    width: 100%;
    margin: 0;
    display: inline;
    background-color: cyan;
}

.menu li {
    float: left;
    /* display: inline; */
    padding: 0 35px 0 40px;
    background: url(img/nav_marker.png) no-repeat right center;
    /* не работает вставка шариков между ссылками меню*/
}

.menu a {
    color: #404040;
    text-decoration: none;
    font-size: 28px;
    font-family: 'Birch Std';
}

.menu:last-child {
    float: right;
}

#title{
    width: 100%;  
}

.titles {
    /* margin-top: 60px; */
    padding: 60px 0 80px 0;
    text-align: center;
    color: #888888;
    font-size: 20px;
    font-style: italic;
    border-bottom: 4px solid #b4b4b4;
}

.titles p {
    margin-top: 5px;
}

.button {
    background: #af2330;
    color: #fff;
    /*font-weight: normal;*/
    text-decoration: none;
    border-radius: 9px;
    width: 268px;
    height: 60px;
    line-height: 40px;
    font-stretch: ultra-expanded;
    padding: 0;
    text-align: center;
}

#our {
    width: 100%;
    border: 10px solid red;
   
}
.services {
    margin-top: 50px;
    /* border-bottom: 2px solid #b4b4b4; */
}

.services_item {
    width: 25%;
    /* when smaller 0ne columm one time and afrter good */
    float: left;
    text-align: center;
    margin: 10px 0 40px 0;
    padding: 0 25px 0 25px;
    border-left: 2px solid #b4b4b4;
    border-right: 2px solid #b4b4b4;
}

.services_item img {
    width: 96px;
    height: 96px;
}

.services_item p {
    font-size: 15px;
    font-style: italic;
}

.services_item h3 {
    margin-bottom: 15px;
}

.services_item a {
    background-color: #404040;
}

.services_item:first-child{
    border-left: transparent;
}

.services_item:last-child {
    float: right;
    border-right: transparent;
}

#content { 
    width: 100%;    
    background: #f6f6f6;/* dont work */
    border-radius: 15px;  /* dont work */
    border: 1px  red;/* dont work */
}

.content_item {
    border-top: #af2330 5px;
    width: 33%;
    float: left;
    text-align: left;
    margin: 50px 0 35px 0;
    padding: 0 25px 0 25px;
    background: #f6f6f6;/* dont work */
}

.content_item a {
    background-color: #cdcdcd;
    color: #404040;
}

#maps {
    padding-top: 40px;
    width: 100%;
    /* margin-top: 30px; */
    border-top: 2px solid black;
    margin-top: 30px;
    display: inline-block;
    background: #404040;
    border-radius: 15px;     
}

.map_item {
    width: 25%;
    /* min-width: 5%; */
    /* min-width: 50px;  */
    float: left;
    text-align: left;
    margin: 35px 0 20px 0;
    padding: 0 20px 0 15px;
    /* color: #ffffff; */
    
    
    /* border: 2px solid #b4b4b4;
    border-top: transparent;
    border-bottom: transparent; */
    /* padding: 35px 20px 20px 15px; */
}
.map_item ul { 
    
    /* color: #ffffff;    */
}
.map_item ul li {
    /* color: #ffffff; */
    display: block;
    background: url(../img/list-line.png) no-repeat left;
    list-style:none;
    border-bottom: 2px solid #636363;
}
/* #first { background: url(../img/li_arrow_post.png) no-repeat left; */
.map_item a {
    color: #ffffff;
    /* color: #404040; */
    text-decoration: none;
    font-size: 13px;
}
.map_item:last-child{
    float: right;
    /* border-right: transparent; */
}


.footer_copyright {
    position: relative;
    min-width: 100%;
    text-align: center;
    font-size: 12px;
    

}




